 
body{
    background-color: rgb(195, 255, 190);
} 
.madad{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}
mamad_tables_holder tr{
    margin-bottom: 100px;
}
table.madad td{
    text-align: center;
    border: 1px solid;
}
table.madad tr{
    border: 1px solid;

}
table.madad th{
    border: 1px solid;
    background-color: rgb(6, 53, 128);
    color:azure;
    border-color: black;
}
tbody{
    background-color: '#00f000';
}
trh{
    margin: 0%;
    padding: 0%;
    text-align: left;
}
.hon_table{
    margin-left: auto;
    margin-right: auto;
    background-color: '#00f000';
    padding: 0%;
}
.hon_table tbody{
    padding: 0%;
    background-color: '#00f000';
}
.hon_table tr{
    padding: 0%;
    background-color: '#00f000';
}
.hon_table td{
    padding:0%;
    background-color: '#00f000';
}
.hon_graphic{
    width:50%;
    max-width:700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;

}
.super_measure_title{
    color: #2c567a;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #acacac;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.centered{
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.right{
    justify-content: right;
    align-items: right;
    margin-left: auto;
    margin-right: 1%;
}
.selector{
    margin-left:50%;
    font-size: 1.3em;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);

}
.graphicContainer{
    margin-bottom: 10%;
    padding: 0%;
    
    border-top:10px solid black;
}
.checkbox_container{
    padding-bottom: 5px;
    display: flex;
    flex-direction: row-reverse; /* Reverse the direction to make it right-aligned */
    align-items: center;
    /* margin-bottom: 2%; */
}
.checkbox{
    margin-left: 10px;
}
.displayFilter{
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1.1em;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}

